.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-row__author {
  display: block;
  font-size: 17px;
  opacity: 0.7;
  margin-bottom: 8px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__info__bubble {
  background-color: white;
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message-row__info__time {
  display: block;
  font-size: 17px;
  opacity: 0.7;
}

.message-row--own {
  display: flex;
  justify-content: flex-end;
}

.message-row--own .message-row__info__bubble {
  background-color: var(--yellow);
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-left: 5px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
