.icon-row-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.icon-row-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row-icons__icon i {
  font-size: 35px;
}

.icon-row-icons__icon span {
  margin-top: 18px;
}

.icon-row-icons__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-row-icons__second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-hidden {
  color: white;
}
